# Database
DATABASE_URL=sqlite:///./local.db

# Environment
ENVIRONMENT=development

# Central API Configuration
CENTRAL_URL=http://demo01.tcdb.vtas.cl.intersystems.com
CENTRAL_API_ENDPOINT=/demo01/apirest/obtenerDatos
CENTRAL_HL7_ENDPOINT=/demo01/apirest/hl7inbound
CENTRAL_API_USERNAME=demo
CENTRAL_API_PASSWORD=demodemo

# Sync Configuration
HEALTH_CHECK_INTERVAL = 8
SYNC_INTERVAL = 300

# Supabase Configuration (Frontend - optional)
# VITE_SUPABASE_ANON_KEY = your_anon_key_here
# VITE_SUPABASE_URL = your_supabase_url_here
